{% extends "skeleton.html" %}
{% block body %}
<h2>Here is what I found comrade</h2>
{% if results %}
<ul>
    {% for result in results %}
    <li><a href="{{result.link | escape}}">{{result.text | escape}}</a></li>
    {% endfor %}
</ul>
{% elif search %}
<h3>{{search.search | escape}}</h3>
<p style="color: #1c7430">{{search.result | escape}}</p>
<p style="color: #dc3545">{{search.error | escape}}</p>
{% else %}
    <p>Nothing. Perhaps you should ask a party officer, da?</p>
{% endif %}
{% endblock %}